<ion-content [fullscreen]="true" class="home-content">

  <div class="top-header">

    <span class="badge-category">
      Antología Personal
    </span>

    <h1 class="main-title">
      Versos &
      <span>Melodías</span>
    </h1>

    <p>
      Un espacio moderno para descubrir,
      escribir y organizar tus poemas favoritos.
    </p>

  </div>

  <!-- HERO -->

  <div class="hero-card">

    <div class="hero-info">

      <div class="hero-icon">
        ✨
      </div>

      <div class="hero-text">

        <h2>Colección Creativa</h2>

        <p>
          Explora poemas únicos organizados
          por emociones y estilos literarios.
        </p>

      </div>

    </div>

  </div>

  <!-- MINI CARDS -->

  <div class="quick-grid">

    <div class="quick-card card-beige">
      <h3>Amor</h3>
      <p>24 poemas</p>
    </div>

    <div class="quick-card card-purple">
      <h3>Noches</h3>
      <p>18 poemas</p>
    </div>

    <div class="quick-card card-green">
      <h3>Naturaleza</h3>
      <p>31 poemas</p>
    </div>

    <div class="quick-card card-gray">
      <h3>Arte</h3>
      <p>12 poemas</p>
    </div>

  </div>

  <!-- BOTÓN -->

  <div class="action-area">

    <ion-button class="btn-enter" expand="block" routerLink="/tabs/poemas">

      Descubrir Poemas

      <ion-icon slot="end" name="arrow-forward-outline">
      </ion-icon>

    </ion-button>

  </div>

</ion-content>