<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Videojuegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">

  <section class="hero">
    <div class="badge">🎮 Catálogo gamer</div>

    <h1>Explora tus videojuegos favoritos</h1>

    <p>
      Consulta, organiza y administra la información de videojuegos de una forma más clara y visual.
    </p>

    <button class="btn-principal">
      Ver videojuegos
    </button>
  </section>

  <section class="cards">

    <div class="card">
      <span>🕹️</span>
      <h2>Lista de juegos</h2>
      <p>Visualiza los videojuegos registrados.</p>
    </div>

    <div class="card">
      <span>➕</span>
      <h2>Agregar</h2>
      <p>Registra nuevos videojuegos fácilmente.</p>
    </div>

    <div class="card">
      <span>⭐</span>
      <h2>Favoritos</h2>
      <p>Diseño pensado para una experiencia más ordenada.</p>
    </div>

  </section>

</ion-content>